.loginContainer {
    margin-top: 0;
}

.loginInput {
    margin: 0.6rem 0;
    height: 1.5rem;
    width: 15rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: large;
    background-color: #ffd066;
}

.loginButton {
    width: 10rem;
    height: 2rem;
    font-size: large;
    margin-top: 1rem;
    background-color: #ff7866;
    border-radius: 5px;
}

.loginInputsContainer {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
